*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/com/debdut/advancedcompose/CentreView.kt
/app/src/main/java/com/debdut/advancedcompose/DynamicGrid.kt
/app/src/main/java/com/debdut/advancedcompose/GridScope.kt
/app/src/main/java/com/debdut/advancedcompose/Indicator.kt
/app/src/main/java/com/debdut/advancedcompose/UserFeedUI.kt
